//colors
//body

//headers
$header-color:  #f4f4f4;
$header-shadow: #dad8d8;
$button-color:  #006fca;
$button-border: #3d8fd1;
//calendar
$border-light-gray: #bdbdbd;
$border-gray: #9f9f9f;
$text-button: #fff;
//font-size/text-color
$td-size: .95em;
$text-calendar: #cecece;
$text-main: #777777;
$text: #bebebe;

//background
$events: #78cef2;
$today: #eeeeee;

//mixin
@mixin border-header{
  box-shadow: 0 0 4px 2px $header-shadow;
  -webkit-box-shadow: 0 0 4px 2px $header-shadow;
  -moz-box-shadow: 0 0 4px 2px $header-shadow;
}
@mixin border-radius{
  border-radius: 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

@mixin border-shadow{
  -webkit-box-shadow: inset 0 1px 1px $border-gray;
  -moz-box-shadow: inset 0 1px 1px $border-gray;
  box-shadow: inset 0 1px 1px $border-gray;
}
//reset
*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
  background: none;
  border: none;
}
body{
  font-family: 'Roboto Mono', monospace;
  color: $text-main;
}
//
header{
  width:100%;
  height: auto;
  background: $header-color;
  @include border-header;
  padding-bottom: 1%;
  margin-bottom: 1em;
}
.header-button{
  background-color: $button-color;
  border: 1px solid $button-border;
  color: $text-button;
  padding: .5% 2%;
  margin-right: 1%;
  font-size: 2vh;
}
.header-box{
  padding: 4em 0 0 0;
}
//form events
.form-event{
  margin-top: 1em;
}
.form-input{
  width: 12vw;
  height: 3vh;
  vertical-align: bottom;
}


//search
.search-bar{
  width: 85%;
  padding: 2% .5%;
  font-size: 1.7vh;
  border: 1px  solid $text-calendar;
  border-top-style: inset 1px solid  $text-calendar;
  @include border-radius;
  @include border-shadow;
 }
#search-button{
  width: 6%;
  vertical-align: middle;
  & img{
    width: 95%;
  }
}
//calendar section
.wrapper{
  margin: 0 auto 1em;
  width: 80%;
}

.wrapper-grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
}
.button-today{
  background-color: white;
  border:1px solid $border-gray;
  vertical-align: text-top;
  width: 5em;
  height: 1.4em;
  @include border-radius;
}
//table
.table-calendar{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td{
  font-size: $td-size;
  vertical-align: top;
  height: 10em;
  border: 1px solid $border-light-gray;
  padding: 1%;
  word-break: break-all;
}

.today{
  background: $today;
}
.events{
  background: $events;
}
.description{
  display: block;
 }
.past-month,
.future-month{
  color: $text;
}

.arrow-button{
  width: 1.4em;
  height: 1.4em;
  background-size: contain;
  background: #fcfcfc no-repeat;
  border: 1px solid $border-gray;
  @include border-radius;
  outline: none;
  vertical-align: text-top;
  &:active{
     background-color: $today;
  }
  & img{
    width: 55%;
  }
}

#month{
  font-size: 1.5em;
  display: inline-block;
  width: 16%;
  color: $text-main;
  text-align: center;
}
//hidden or show

.hidden{
  visibility: hidden;
}
.show{
  visibility: inherit;
}
