@charset 'UTF-8';

/*
* UtilityBelt - a starter kit for any SASS project
* By @dmtintner & @hackingui
* Documentation and examples - hackingui.com/front-end/10-best-scss-utilities/
* V1.2.0
*/

/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/

/*
* Currency
*/

/*
* Clearfix
*/

.container-with-floated-children
{
    *zoom: 1;
}

.container-with-floated-children:before,
.container-with-floated-children:after
{
    display: table;

    content: ' ';
}

.container-with-floated-children:after
{
    clear: both;
}

/*
* Respond To
*/

/*
* Ghost Vertical Align
*/

/*
## Placeholder Color - for styling input placeholders in every browser
*/

@font-face
{
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/Roboto-Regular.eot?') format('eot'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html
{
    line-height: 1.15;
    /* 1 */

        -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body
{
    margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section
{
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1
{
    font-size: 2em;

    margin: .67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main
{
    /* 1 */
    display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure
{
    margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr
{
    /* 1 */
    overflow: visible;

    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre
{
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a
{
    background-color: transparent;
    /* 1 */

    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title]
{
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;

    border-bottom: none;
    /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong
{
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong
{
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp
{
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn
{
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark
{
    color: #000;
    background-color: #ff0;
}

/**
 * Add the correct font size in all browsers.
 */

small
{
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sub
{
    bottom: -.25em;
}

sup
{
    top: -.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video
{
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls])
{
    display: none;

    height: 0;
}

/**
 * Remove the border on uploads inside links in IE 10-.
 */

img
{
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root)
{
    overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea
{
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */

    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input
{
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select
{
    /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type='button'],
[type='reset'],
[type='submit']
{
    -webkit-appearance: button;
    /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner
{
    padding: 0;

    border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring
{
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset
{
    padding: .35em .75em .625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend
{
    /* 2 */
    display: table;

    box-sizing: border-box;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */

    white-space: normal;
    /* 1 */

    color: inherit;
    /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress
{
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea
{
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type='checkbox'],
[type='radio']
{
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search']
{
    /* 1 */
    outline-offset: -2px;

    -webkit-appearance: textfield;
    /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button
{
    /* 1 */
    font: inherit;

    -webkit-appearance: button;
    /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu
{
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary
{
    display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas
{
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template
{
    display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden]
{
    display: none;
}

/*==========================================================================
	 GLOBAL STYLES
	 ===========================================================================*/

/* BASE STYLES */

html
{
    box-sizing: border-box;

    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

html
{
    font-size: 100%;

    overflow-x: hidden;

    box-sizing: border-box;
    min-width: 300px;
    height: 100%;

    -webkit-tap-highlight-color: transparent;
}

html.not-scroll
{
    overflow: hidden;
}

body
{
    font-family: 'Roboto-Regular', 'Roboto-Regular', serif;
    font-size: 15px;
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.2;

    position: relative;

    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;

    min-height: 100vh;

    color: #4d4d4e;
    background-color: #eee;

    -webkit-overflow-scrolling: touch;
    -ms-flex-flow: column;
        flex-flow: column;
}

body.locked
{
    overflow: hidden;
}

.wrap
{
    width: 100%;
    height: auto;
}

.clearfix
{
    clear: both;
}

.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '';
}

p,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
}

img,
video
{
    width: 100%;
    max-width: 100%;
    height: auto;
}

input,
textarea
{
    -webkit-overflow-scrolling: touch;
}

button:focus
{
    outline: none;
}

address
{
    font-style: normal;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select
{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.container
{
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 15px;
}

input[type='number']
{
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
}

input:-webkit-autofill
{
    color: #fff !important;
    -webkit-box-shadow: inset 0 0 0 50px #212d3e !important;

    -webkit-text-fill-color: #fff !important;
}

input:-webkit-autofill:focus
{
    color: #fff !important;
}

.row
{
    display: -ms-flexbox;
    display: flex;

    width: 100%;
}

.column-secondary
{
    width: 25%;
    max-width: 256px;
}

.column-primary
{
    width: 100%;
    max-width: 100%;
}

.page--white
{
    background-color: #fff;
}

.page--sky
{
    background-color: #eee;
}

.page--shadow
{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16);
}

::-webkit-scrollbar
{
    /* 1 - скроллбар */
    width: 4px;
    height: 4px;

    background-color: #d6d5d5;
}

::-webkit-scrollbar-button
{
    /* 2 - кнопка */
}

::-webkit-scrollbar-track
{
    /* 3 - трек */
}

::-webkit-scrollbar-track-piece
{
    /* 4 - видимая часть трека */
}

::-webkit-scrollbar-thumb
{
    /* 5 - ползунок */
    border-radius: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-corner
{
    /* 6 - уголок */
}

::-webkit-resizer
{
    /* 7 - изменение размеров */
    width: 4px;
}

/* end base styles */

/* ==========================================================================
  TYPOGRAPHY
  ===========================================================================*/

/* TITLES */

h2
{
    font-family: 'Roboto-Regular', 'Roboto-Regular', serif;
    font-size: 36px;
    line-height: 48px;

    color: white;
}

/* LINKS */

a
{
    font-family: 'Roboto-Regular', 'Roboto-Regular', serif;
    font-size: 13px;
    line-height: 20px;

    position: relative;

    text-decoration: none;
    text-transform: capitalize;

    color: #4d4d4e;
}

a:hover
{
    color: #2196f3;
}

ul,
ol
{
    margin: 0;
    padding-left: 0;

    list-style: none;
}

ul li,
ol li
{
    font-family: 'Roboto-Regular', 'Roboto-Regular', serif;

    list-style: none;
}

p
{
    font-family: 'Roboto-Regular', 'Roboto-Regular', serif;

    color: #4d4d4e;
}

/* end typography */

/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/

.btn,
.btn[type='button']
{
    position: relative;
    z-index: 1;

    display: inline-block;

    width: 20px;
    height: 20px;
    padding: 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all .3s ease;

    border: none;
    background-color: transparent;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
    -webkit-appearance: inherit;
}

.btn:before,
.btn[type='button']:before
{
    position: absolute;

    width: 16px;
    height: 16px;

    content: '';

    background-repeat: no-repeat;
    background-size: contain;
}

.btn-menu:before
{
    top: 6px;
    left: 0;

    width: 18px;

    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%205v2h18V5H0zm0%205v2h18v-2H0zM0%200v2h18V0H0z%22%2F%3E%3C%2Fsvg%3E');
}

.btn-pink
{
    width: 56px;
    height: 56px;

    border-radius: 50%;
    background-color: #ff3e81;
}

.btn-pink.btn-create:before
{
    top: 17px;
    right: -3px;
    left: 0;

    width: 20px;
    height: 20px;
    margin: 0 auto;

    background-position: center;
}

.btn-setting
{
    width: 10px;
    padding: 0;
}

.btn-setting:before
{
    top: 0;
    right: 0;

    width: 10px;

    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%2216%22%20viewBox%3D%220%200%204%2016%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%22.87%22%20fill-rule%3D%22evenodd%22%20d%3D%22M2%2016a2%202%200%201%200%200-4%202%202%200%200%200%200%204zm0-6a2%202%200%201%200%200-4%202%202%200%200%200%200%204zm0-6a2%202%200%201%200%200-4%202%202%200%200%200%200%204z%22%2F%3E%3C%2Fsvg%3E');
    background-position: right;
}

.btn-update:before
{
    top: 0;
    left: 0;

    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M14.337%207.108h1.73V.333L13.69%202.805A7.767%207.767%200%200%200%207.735%200C3.5%200%200%203.589%200%208s3.417%208%207.652%208c2.95%200%205.66-1.794%206.927-4.57l-1.741-.859c-.95%202.084-2.999%203.43-5.211%203.43-3.176%200-5.761-2.692-5.761-6s2.583-6%205.759-6c1.841%200%203.478.62%204.534%202.024L9.225%207.108h5.112z%22%2F%3E%3C%2Fsvg%3E');
}

.btn--write
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M14.337%207.108h1.73V.333L13.69%202.805A7.767%207.767%200%200%200%207.735%200C3.5%200%200%203.589%200%208s3.417%208%207.652%208c2.95%200%205.66-1.794%206.927-4.57l-1.741-.859c-.95%202.084-2.999%203.43-5.211%203.43-3.176%200-5.761-2.692-5.761-6s2.583-6%205.759-6c1.841%200%203.478.62%204.534%202.024L9.225%207.108h5.112z%22%2F%3E%3C%2Fsvg%3E');
}

.btn-message:before
{
    top: 10px;

    width: 17px;
    height: 21px;

    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2221%22%20viewBox%3D%220%200%2017%2021%22%3E%3Cpath%20fill%3D%22%23757575%22%20fill-rule%3D%22evenodd%22%20d%3D%22M8.5%200C3.8%200%200%203.8%200%208.5S3.8%2017%208.5%2017H9v3.5c4.9-2.3%208-7.5%208-12C17%203.8%2013.2%200%208.5%200zM8%209l-1%202H5.5l1-2H5V6h3v3zm4%200l-1%202H9.5l1-2H9V6h3v3z%22%2F%3E%3C%2Fsvg%3E');
}

.btn-create:before
{
    top: 0;
    right: 0;

    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%22.87%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%2014.2V18h3.8l11-11.1L11%203.1%200%2014.2zM17.7%204c.4-.4.4-1%200-1.4L15.4.3c-.4-.4-1-.4-1.4%200l-1.8%201.8L16%205.9%2017.7%204z%22%2F%3E%3C%2Fsvg%3E');
}

.btn-back:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%22.87%22%20fill-rule%3D%22evenodd%22%20d%3D%22M16%207H3.8l5.6-5.6L8%200%200%208l8%208%201.4-1.4L3.8%209H16z%22%2F%3E%3C%2Fsvg%3E');
}

/* end buttons*/

.users__item__info
{
    position: relative;

    padding: 35px 0;
}

.users__item__info__list
{
    position: relative;

    height: 100%;
}

.users__item__info__list:first-of-type:after
{
    position: absolute;
    right: 0;

    width: 100%;
    max-width: 348px;

    content: '';

    border-bottom: 1px solid #d6d5d5;
}

.users__item__info__list li
{
    position: relative;

    display: -ms-flexbox;
    display: flex;

    padding: 15px 20px 15px 85px;

    -ms-flex-pack: justify;
    justify-content: space-between;
}

.users__item__info__list li:before
{
    position: absolute;
    top: 25px;
    left: 35px;

    width: 20px;
    height: 20px;

    content: '';

    background-repeat: no-repeat;
    background-position: center;
}

.users__item__info__list li a,
.users__item__info__list li p
{
    font-size: 16px;

    display: inline-block;

    max-width: 195px;

    text-transform: lowercase;
}

.users__item__info__list li a:before,
.users__item__info__list li p:before
{
    position: absolute;

    width: 20px;
    height: 20px;

    content: '';

    background-repeat: no-repeat;
    background-position: center;
}

.users__item__info__list li span
{
    font-size: 13px;

    display: block;

    text-transform: capitalize;

    color: #999;
}

.users__item__info__list li.pin a,
.users__item__info__list li.pin p
{
    text-transform: capitalize;
}

.mobile:before
{
    top: 5px;
    left: -50px;

    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%232196F3%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3.6%207.8c1.4%202.8%203.8%205.1%206.6%206.6l2.2-2.2c.3-.3.7-.4%201-.2%201.1.4%202.3.6%203.6.6.6%200%201%20.4%201%201V17c0%20.6-.4%201-1%201C7.6%2018%200%2010.4%200%201c0-.6.4-1%201-1h3.5c.6%200%201%20.4%201%201%200%201.2.2%202.4.6%203.6.1.3%200%20.7-.2%201L3.6%207.8z%22%2F%3E%3C%2Fsvg%3E');
}

.mail:before
{
    top: 5px;
    left: -50px;

    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2216%22%20viewBox%3D%220%200%2020%2016%22%3E%3Cpath%20fill%3D%22%232196F3%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18%200H2C.9%200%200%20.9%200%202v12c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2V2c0-1.1-.9-2-2-2zm0%204l-8%205-8-5V2l8%205%208-5v2z%22%2F%3E%3C%2Fsvg%3E');
}

.pin:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2220%22%20viewBox%3D%220%200%2014%2020%22%3E%3Cpath%20fill%3D%22%232196F3%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7%200C3.1%200%200%203.1%200%207c0%205.2%207%2013%207%2013s7-7.8%207-13c0-3.9-3.1-7-7-7zm0%209.5C5.6%209.5%204.5%208.4%204.5%207S5.6%204.5%207%204.5%209.5%205.6%209.5%207%208.4%209.5%207%209.5z%22%2F%3E%3C%2Fsvg%3E');
}

.profile__contacts__users__list
{
    overflow-x: hidden;
    overflow-y: scroll;

    width: 100%;
    max-width: 654px;
    max-height: 798px;
    margin-right: 15px;
}

.profile__contacts__users__list li
{
    padding-bottom: 22px;

    cursor: pointer;
}

.profile__contacts__users__list__items
{
    position: relative;

    width: 100%;
    max-width: 557px;
    margin-right: 0;
    margin-left: 81px;
    padding: 25px 0 0;

    border-bottom: 1px solid #d6d5d5;
}

.profile__contacts__users__list__items:before
{
    font-size: 24px;

    position: absolute;
    top: 30px;
    left: -55px;

    width: 30px;
    height: 30px;

    content: '';
    text-align: center;

    color: #ff3e81;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__contacts__users__list__items__img
{
    display: inline-block;

    width: 40px;
    height: 40px;

    vertical-align: middle;
}

.profile__contacts__users__list__items__name
{
    display: inline-block;

    padding-left: 15px;
}

.profile__contacts__users__list__items.users__list__star:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cpath%20fill%3D%22%23FF3E81%22%20fill-rule%3D%22evenodd%22%20d%3D%22M10%2015.273L16.18%2019l-1.635-7.029L20%207.244l-7.191-.617L10%200%207.191%206.627%200%207.244l5.455%204.727L3.82%2019z%22%2F%3E%3C%2Fsvg%3E');
}

.profile__contacts__users__list__items.users__list__a:before
{
    content: 'A';
}

.profile__contacts__users__list__items.users__list__b:before
{
    content: 'B';
}

.users__item__img
{
    position: relative;
    z-index: 0;

    display: -ms-flexbox;
    display: flex;

    height: 245px;
    max-height: 245px;
    padding: 25px;

    -ms-flex-line-pack: justify;
    align-content: space-between;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}

.users__item__img .img__user
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.users__item__img .img__btn-right .btn-create
{
    margin-right: 30px;
}

.img__user__name
{
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;

    text-align: left;

    color: rgba(255, 255, 255, .87);
}

/* end global */

.profile__contacts__title
{
    width: 100%;
    height: 64px;
    padding: 15px 41px 0 25px;

    color: #fff;
    background-color: #2196f3;

    -ms-flex-pack: justify;
    justify-content: space-between;
}

.profile__contacts__title h2
{
    font-size: 21px;
    line-height: normal;

    display: inline-block;
}

.title--left .btn-menu
{
    margin-right: 20px;
}

.title--right
{
    padding-top: 8px;
}

.title--right .btn-update
{
    margin-right: 40px;
}

.icon
{
    position: relative;

    display: inline-block;

    width: 1.1em;
    height: 1.1em;

    fill: currentColor;
}

.icon-user
{
    font-size: 2.4rem;

    width: 1em;
}

/* Slider */

.slick-slider
{
    position: relative;

    display: block;

    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus
{
    outline: none;
}

.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;

    margin-right: auto;
    margin-left: auto;
}

.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}

.slick-track:after
{
    clear: both;
}

.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide
{
    float: right;
}

.slick-slide img
{
    display: block;
}

.slick-slide.slick-loading img
{
    display: none;
}

.slick-slide.dragging img
{
    pointer-events: none;
}

.slick-initialized .slick-slide
{
    display: block;
}

.slick-loading .slick-slide
{
    visibility: hidden;
}

.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden
{
    display: none;
}

/* Slider */

/* Icons */

@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */

.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;

    cursor: pointer;
    transform: translate(0, -50%);

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}

[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}

.slick-prev:before
{
    content: '←';
}

[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}

[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}

.slick-next:before
{
    content: '→';
}

[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */

.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}

.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/**
 * selectize.css (v0.12.4)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder
{
    visibility: visible !important;

    border: 0 none !important;
    background: #f2f2f2 !important;
    background: rgba(0, 0, 0, .06) !important;
    box-shadow: inset 0 0 12px 4px #fff;
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after
{
    visibility: hidden;

    content: '!';
}

.selectize-control.plugin-drag_drop .ui-sortable-helper
{
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.selectize-dropdown-header
{
    position: relative;

    padding: 5px 8px;

    border-bottom: 1px solid #d0d0d0;
    border-radius: 3px 3px 0 0;
    background: #f8f8f8;
}

.selectize-dropdown-header-close
{
    font-size: 20px !important;
    line-height: 20px;

    position: absolute;
    top: 50%;
    right: 8px;

    margin-top: -12px;

    opacity: .4;
    color: #303030;
}

.selectize-dropdown-header-close:hover
{
    color: #000;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup
{
    float: left;

    box-sizing: border-box;

    border-top: 0 none;
    border-right: 1px solid #f2f2f2;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child
{
    border-right: 0 none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before
{
    display: none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header
{
    border-top: 0 none;
}

.selectize-control.plugin-remove_button [data-value]
{
    position: relative;

    padding-right: 24px !important;
}

.selectize-control.plugin-remove_button [data-value] .remove
{
    font-size: 12px;
    font-weight: bold;
    /* fixes ie bug (see #392) */

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 17px;
    padding: 2px 0 0 0;

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: inherit;
    border-left: 1px solid #d0d0d0;
    border-radius: 0 2px 2px 0;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover
{
    background: rgba(0, 0, 0, .05);
}

.selectize-control.plugin-remove_button [data-value].active .remove
{
    border-left-color: #cacaca;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover
{
    background: none;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove
{
    border-left-color: #fff;
}

.selectize-control.plugin-remove_button .remove-single
{
    font-size: 23px;

    position: absolute;
    top: 6px;
    right: 28px;
}

.selectize-control
{
    position: relative;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input
{
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;

    color: #303030;

    -webkit-font-smoothing: inherit;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active
{
    display: inline-block;

    cursor: text;

    background: #fff;
}

.selectize-input
{
    position: relative;
    z-index: 1;

    display: inline-block;
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    padding: 8px 8px;

    border: 1px solid #d0d0d0;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.selectize-control.multi .selectize-input.has-items
{
    padding: 6px 8px 3px;
}

.selectize-input.full
{
    background-color: #fff;
}

.selectize-input.disabled,
.selectize-input.disabled *
{
    cursor: default !important;
}

.selectize-input.focus
{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
}

.selectize-input.dropdown-active
{
    border-radius: 3px 3px 0 0;
}

.selectize-input > *
{
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;

    vertical-align: baseline;

    *display: inline;
}

.selectize-control.multi .selectize-input > div
{
    margin: 0 3px 3px 0;
    padding: 2px 6px;

    cursor: pointer;

    color: #303030;
    border: 0 solid #d0d0d0;
    background: #f2f2f2;
}

.selectize-control.multi .selectize-input > div.active
{
    color: #303030;
    border: 0 solid #cacaca;
    background: #e8e8e8;
}

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active
{
    color: #7d7d7d;
    border: 0 solid #fff;
    background: #fff;
}

.selectize-input > input
{
    line-height: inherit !important;

    display: inline-block !important;

    max-width: 100% !important;
    min-height: 0 !important;
    max-height: none !important;
    margin: 0 2px 0 0 !important;
    padding: 0 !important;

    -webkit-user-select: auto !important;
    text-indent: 0 !important;

    border: 0 none !important;
    background: none !important;
    box-shadow: none !important;
}

.selectize-input > input::-ms-clear
{
    display: none;
}

.selectize-input > input:focus
{
    outline: none !important;
}

.selectize-input::after
{
    display: block;
    clear: left;

    content: ' ';
}

.selectize-input.dropdown-active::before
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    height: 1px;

    content: ' ';

    background: #f0f0f0;
}

.selectize-dropdown
{
    position: absolute;
    z-index: 10;

    box-sizing: border-box;
    margin: -1px 0 0 0;

    border: 1px solid #d0d0d0;
    border-top: 0 none;
    border-radius: 0 0 3px 3px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.selectize-dropdown [data-selectable]
{
    overflow: hidden;

    cursor: pointer;
}

.selectize-dropdown [data-selectable] .highlight
{
    border-radius: 1px;
    background: rgba(125, 168, 208, .2);
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header
{
    padding: 5px 8px;
}

.selectize-dropdown .optgroup:first-child .optgroup-header
{
    border-top: 0 none;
}

.selectize-dropdown .optgroup-header
{
    cursor: default;

    color: #303030;
    background: #fff;
}

.selectize-dropdown .active
{
    color: #495c68;
    background-color: #f5fafd;
}

.selectize-dropdown .active.create
{
    color: #495c68;
}

.selectize-dropdown .create
{
    color: rgba(48, 48, 48, .5);
}

.selectize-dropdown-content
{
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 200px;

    -webkit-overflow-scrolling: touch;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input
{
    cursor: pointer;
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input
{
    cursor: text;
}

.selectize-control.single .selectize-input:after
{
    position: absolute;
    top: 50%;
    right: 15px;

    display: block;

    width: 0;
    height: 0;
    margin-top: -3px;

    content: ' ';

    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #808080 transparent transparent transparent;
}

.selectize-control.single .selectize-input.dropdown-active:after
{
    margin-top: -4px;

    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #808080 transparent;
}

.selectize-control.rtl.single .selectize-input:after
{
    right: auto;
    left: 15px;
}

.selectize-control.rtl .selectize-input > input
{
    margin: 0 4px 0 -2px !important;
}

.selectize-control .selectize-input.disabled
{
    opacity: .5;
    background-color: #fafafa;
}

.profile
{
    position: relative;
}

.profile__contacts__users__item
{
    width: 100%;
    max-width: 432px;
}

.profile__contacts__users
{
    width: 100%;
    max-width: 1183px;
    margin: auto;
    padding-top: 15px;
    padding-left: 66px;
}

.profile__contacts__users .row
{
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
}

.profile__contacts__users .btn-pink
{
    position: absolute;
    right: 11px;
    bottom: -15px;
}

.profile__setting
{
    height: auto;
}

.setting__current-user
{
    display: -ms-flexbox;
    display: flex;

    min-height: 160px;
    padding: 27px 20px 10px;

    background-image: url('../images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}

.recent--active
{
    color: #2196f3;
}

.current-user__img
{
    width: 55px;
    height: 55px;
}

.current-user__name
{
    width: 100%;
    margin-top: 20px;

    color: #fff;
}

.current-user__options
{
    width: 100%;

    outline: none;
}

.current-user__options .selectize-input.full
{
    padding: 3px 0;

    color: #fff;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.current-user__options .selectize-input:after
{
    border-color: #fff transparent transparent transparent !important;
}

.current-user__options .selectize-input.input-active
{
    background-color: transparent !important;
}

.setting__menu__list:first-of-type
{
    position: relative;

    padding-bottom: 23px;
}

.setting__menu__list:first-of-type:after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    content: '';

    border-bottom: 1px solid #d6d5d5;
}

.setting__menu__list
{
    padding: 0 25px;
}

.setting__menu__list li
{
    position: relative;

    padding: 25px 0 0 50px;

    cursor: pointer;
    text-transform: capitalize;
}

.setting__menu__list li:before
{
    position: absolute;
    top: 20px;
    left: 0;

    width: 20px;
    height: 20px;

    content: '';

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.setting--active
{
    color: #2196f3;
}

.recent:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cg%20fill%3D%22%237D7D7D%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M10%200C4.5%200%200%204.5%200%2010s4.5%2010%2010%2010%2010-4.5%2010-10S15.5%200%2010%200zm0%2018c-4.4%200-8-3.6-8-8s3.6-8%208-8%208%203.6%208%208-3.6%208-8%208z%22%2F%3E%3Cpath%20d%3D%22M10.5%205H9v6l5.2%203.2.8-1.3-4.5-2.7z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.archive:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%237D7D7D%22%20fill-rule%3D%22evenodd%22%20d%3D%22M17.5%202.2L16.1.5C15.9.2%2015.5%200%2015%200H3c-.5%200-.9.2-1.2.5L.5%202.2C.2%202.6%200%203%200%203.5V16c0%201.1.9%202%202%202h14c1.1%200%202-.9%202-2V3.5c0-.5-.2-.9-.5-1.3zM9%2014.5L3.5%209H7V7h4v2h3.5L9%2014.5zM2.1%202l.8-1h12l.9%201H2.1z%22%2F%3E%3C%2Fsvg%3E');
}

.replied:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2214%22%20viewBox%3D%220%200%2018%2014%22%3E%3Cpath%20fill%3D%22%237D7D7D%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6%2011.2L1.8%207%20.4%208.4%206%2014%2018%202%2016.6.6z%22%2F%3E%3C%2Fsvg%3E');
}

.sent:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2218%22%20viewBox%3D%220%200%2021%2018%22%3E%3Cpath%20fill%3D%22%237D7D7D%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%2018l21-9L0%200v7l15%202-15%202z%22%2F%3E%3C%2Fsvg%3E');
}

.trash:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2218%22%20viewBox%3D%220%200%2014%2018%22%3E%3Cpath%20fill%3D%22%237D7D7D%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1%2016c0%201.1.9%202%202%202h8c1.1%200%202-.9%202-2V4H1v12zM14%201h-3.5l-1-1h-5l-1%201H0v2h14V1z%22%2F%3E%3C%2Fsvg%3E');
}

.starred:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cpath%20fill%3D%22%237D7D7D%22%20fill-rule%3D%22evenodd%22%20d%3D%22M10%2015.273L16.18%2019l-1.635-7.029L20%207.244l-7.191-.617L10%200%207.191%206.627%200%207.244l5.455%204.727L3.82%2019z%22%2F%3E%3C%2Fsvg%3E');
}

.forums:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%237D7D7D%22%20fill-rule%3D%22evenodd%22%20d%3D%22M19%204h-2v9H4v2c0%20.6.4%201%201%201h11l4%204V5c0-.6-.4-1-1-1zm-4%206V1c0-.6-.4-1-1-1H1C.4%200%200%20.4%200%201v14l4-4h10c.6%200%201-.4%201-1z%22%2F%3E%3C%2Fsvg%3E');
}

.updates:before
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2216%22%20viewBox%3D%220%200%2014%2016%22%3E%3Cpath%20d%3D%22M0%200h2v16H0zm3%200h11v11H3z%22%20fill%3D%22%237D7D7D%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
}

/* ==========================================================================
   MODAL
   ===========================================================================*/

.modal-join
{
    position: fixed;
    z-index: 50;
    top: 50%;
    right: 0;
    left: 0;

    display: none;
    overflow: hidden;

    width: 280px;
    min-height: 420px;
    margin: 0 auto;

    transition: all .1s;
    transform: translateY(-50%);

    border-radius: 20px;
    background: #fff;
    box-shadow: 0 5px 70px rgba(212, 166, 22, .4);
}

.modal-join-form
{
    padding: 26px 20px 42px;
}

.modal-join-form p
{
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 700;

    text-align: center;
}

.btn-close
{
    position: absolute;
    top: 10px;
    right: 15px;

    width: 16px;
    height: 16px;
    padding: 0;

    cursor: pointer;

    border: none;
    background: transparent;
}

.icon-close
{
    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;
}

.icon-close:before
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    display: block;

    width: 2px;
    height: 20px;
    margin: 0 auto;

    content: '';
    transform: translateY(-50%) rotate(45deg);

    background-color: #dcdcdc;
}

.icon-close:after
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    display: block;

    width: 2px;
    height: 20px;
    margin: 0 auto;

    content: '';
    transform: translateY(-50%) rotate(-45deg);

    background-color: #dcdcdc;
}

.form-group
{
    position: relative;

    margin-top: 30px;
}

.form-label
{
    position: absolute;
    top: -19px;
    left: 21px;
}

.form-label span
{
    padding-left: 5px;

    color: #d0d0d0;
}

.form-input,
.form-area
{
    width: 100%;
    height: 42px;
    padding-left: 20px;

    border: 1px solid #d0d0d0;
    border-radius: 21px;
    outline: none;
}

.form-area
{
    padding-top: 10px;
    padding-right: 20px;
}

.btn-submit
{
    min-width: 100%;
    height: 50px;
    margin-top: 18px;
}

.openn
{
    display: block;

    transition: .5s ease-in;
}

.modal-overlay
{
    position: fixed;
    z-index: 49;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: all .1s;
    pointer-events: none;

    opacity: .4;
    background-color: #000;
}

.modal-join.openn + .modal-overlay
{
    visibility: visible;

    transition: all .3s;
    pointer-events: auto;

    opacity: .4;
}

/* end modal */

.pages.open
{
    bottom: 0;
}

.pages.open .icon-pages
{
    position: absolute;
    right: 16px;

    display: block;
    visibility: visible;

    width: 16px;
    height: 16px;

    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2038%2038%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M38.1%2036.9L20.6%2019.3%2038.1%201.8c.3-.3.3-.8%200-1.2-.3-.3-.8-.3-1.2%200L19.4%2018.2%201.9.6C1.6.3%201%20.3.7.6c-.3.3-.3.8%200%201.2l17.5%2017.5L.7%2036.9c-.3.3-.3.8%200%201.2s.8.3%201.2%200l17.6-17.6L37%2038c.3.3.8.3%201.2%200s.3-.8-.1-1.1z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
    background-size: 100%;
}

.pages.open span
{
    visibility: hidden;
}

.pages
{
    position: fixed;
    z-index: 7766;
    right: 150px;
    bottom: -400px;

    width: 400px;

    transition: all .7s ease;

    background: #eee;
}

.pages .icon-pages
{
    visibility: hidden;
}

.pages .pages-header
{
    display: block;

    padding: 7px 16px 5px 16px;

    cursor: pointer;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #383d45;
}

.pages .pages-header:before
{
    display: table;

    content: ' ';
}

.pages .pages-header:after
{
    display: table;
    clear: both;

    content: ' ';
}

.pages .pages-header p
{
    font-size: 15px;

    float: left;

    margin: 0;

    color: #fff;
}

.pages .pages-header span
{
    float: right;

    color: #fff;
}

.pages ul
{
    overflow-y: auto;

    width: 100%;
    height: 400px;
    margin: 0;
    padding: 15px;
}

.pages ul li
{
    position: relative;

    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin-bottom: 5px;

    list-style: none;

    cursor: pointer;

    opacity: 1;
    color: #444;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #d3d3d3;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .07);
}

.pages ul li a
{
    font-size: 14px;

    display: inline-block;

    width: 100%;
    padding-left: 10px;

    text-decoration: none;

    color: #444;
}

.pages ul li a:hover
{
    background: #f4f3f3;
}

.pages ul li a:hover,
.pages ul li a:focus,
.pages ul li a:active
{
    text-decoration: none;
}

@media only screen and (min-width: 768px)
{
    .modal-join
    {
        width: 492px;
        height: 748px;
    }

    .modal-join-form p
    {
        font-size: 36px;
        font-size: 2.25rem;
    }

    .modal-join-form
    {
        padding: 52px 62px 42px;
    }

    .btn-close
    {
        top: 19px;
        right: 18px;
    }

    .form-group
    {
        margin-top: 45px;
    }

    .form-label
    {
        font-size: 16px;
        font-size: 1rem;
        font-weight: 500;

        top: -26px;
        left: 31px;
    }

    .form-input,
    .form-area
    {
        padding-left: 30px;
    }

    .form-input
    {
        height: 52px;
    }

    .form-area
    {
        height: 157px;
    }

    .btn-submit
    {
        display: block;

        min-width: 64%;
        margin: 28px auto 0;
    }
}

@media only screen and (min-width: 981px)
{
    html.not-scroll
    {
        overflow: scroll;
    }

    .modal-join
    {
        width: 781px;
        height: 462px;
    }

    .modal-join-form
    {
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        padding: 52px 81px 42px;

        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-direction: column;
    }

    .form-group
    {
        width: 97%;
    }

    .btn-submit
    {
        display: block;

        min-width: 79%;
        margin: 33px 0 0 53px;
    }

    .container-flex
    {
        display: -ms-flexbox;
        display: flex;
            flex-direction: row;

        -ms-flex-direction: row;
    }

    .left-side
    {
        width: 50%;
    }

    .right-side
    {
        width: 48%;
        margin-left: 12px;
    }
}

@media only screen and (min-width: 1440px)
{
    .modal-join
    {
        width: 712px;
    }

    .modal-join-form
    {
        padding: 52px 52px 42px;
    }

    .form-group
    {
        margin-top: 44px;
    }

    .form-input
    {
        height: 44px;
    }

    .form-area
    {
        height: 131px;
    }
}

@media only screen and (max-width: 1063px)
{
    .users__item__img
    {
        height: 200px;
    }
}

@media screen and (max-width: 1023px)
{
    .pages
    {
        right: 0;

        width: 230px;
    }

    .pages .pages-header p
    {
        font-size: 11px;
    }
}

@media only screen and (max-width: 980px)
{
    .profile__contacts__users__list__items
    {
        max-width: 200px;
        margin-left: 50px;
    }

    .profile__contacts__users__list__items:before
    {
        left: -35px;
    }

    .profile__contacts__users
    {
        padding-left: 15px;
    }
}

@media screen and (max-width: 767px)
{
    .pages.open .icon-pages
    {
        top: 12px;
        right: 23px;
    }

    .pages
    {
        background: transparent;
    }

    .pages .pages-header
    {
        float: right;

        width: 60px;

        text-align: center;
    }

    .pages .pages-header p
    {
        font-size: 0;
    }

    .pages .pages-header span
    {
        float: none;
    }

    .pages ul
    {
        background: #eee;
    }
}

@media only screen and (max-width: 600px)
{
    h2
    {
        font-size: 30px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 480px)
{
    h2
    {
        font-size: 28px;
        line-height: 30px;
    }
}

@media screen and (max-width: 318px)
{
    html
    {
        overflow-x: auto;
    }
}
