
$header-color:  #f4f4f4;
$header-shadow: #dad8d8;
$button-color:  #006fca;
$button-border: #3d8fd1;
$text-calendar: #bdbdbd;
$calendar-border: #9f9f9f;
$text-button: #fff;
//reset
* {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.hide, .print-logo, .close-button{ display:none; }
.left{ float:left; }
.right{ float:right; }
.clear{ clear:both; height:1px; font-size:1px; line-height:1px; }
a img{ border:none; }
//
header{
  width:100%;
  height: 15vh;
  background: $header-color;
  box-shadow: 0 0 4px 2px $header-shadow;
}
.header-button{
  background-color: $button-color;
  border: 1px solid $button-border;
  color: $text-button;
  padding: 1vh 1vw;
}
//table
.table-calendar{
  border-collapse: collapse
}

td{
 width: 5vw;
 height: 10vh;
 border: 1px solid $calendar-border;
}

.today{
  background: lavender;
}
.past-month,
.future-month{
  color: #d1d1d1;
}

